/* Card compoenet css */

.Card{

 /*max-width: 20vw;
width: 20vw;
max-height: 20vh; */
height: 50vh;
width: 100%;

background-color: rgba(0, 0, 0, 0.082);
border: solid 4px rgba(0, 0, 0, 0.123) ;



display: inline-block;

}


.Card-h2{

color: red;
text-align: center;


}

.about-Pic{

height: 100%;
width: 300px;



}