/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*
start of Nav
*/

nav{

  background-color: #8a8a8a;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

nav ul{
  display: flex;
  
}
nav ul li{

  list-style: none;
}

nav ul li a{
  display: block;
  text-decoration: none;
  padding : 1rem;
margin: 0.5rem;
color: white;
border-radius: .5rem 
}

nav ul li a:hover{
  color: red;



}

.active{

  color :red;
}



.NAV-logo{

  height: 100%;
  
  width: 100px;
    }

    .nav-home{
margin: 1rem;
    }

    .nav-ul{
 
      
    }


    .nav-li{}





  /*
End of nav
  */

body{
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #b4b4b479;
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000007c;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b60000;
}




/*start of index page
*/
.index-body{
 margin: 7vh 0 25vh 0;
  text-align: center;
  overflow: hidden;
  
}
.main-wrapper{}

.top-wrapper{
 margin: 0 0 75px 0;
 
}

.index-h1{ 
  font-size: 10vh;
}

.index-h2{
  font-size: 8vh;
}
.index-p{
font-size: 4.5vh

}

.typeWriter{
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-size: 2vh;
}

.hero-wrapper{
  margin: 2.5vw;
 
}
.hero-p{

  font-size: 3vh;
  margin-top: 200px;
 background-color: #818181;
 padding: 100px 25px;
 border-radius: 50px;
 outline:3px #00ff4c solid ;
 
}

/* start of hero image*/

.img-wrapper{


padding: 60px 0px;
width: 100%;
outline:3px #00ff4c solid ;
white-space: nowrap;
text-align: center;
margin: auto;
background-color: #474545;

}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{ transform: translateX(-100%);
  
  }
}
.slide{
  animation: 40s slide infinite linear ;
display: inline-block;
}


.img-wrapper:hover .slide{

  animation-play-state: paused;
}


.hero-img{
  height:  100%;
  width: 30vh;
 margin: 0 40px;
 
  }

  .hero-img:hover{
width: 32vh;
transition: all .5s ease-in;

  }

  /* end of hero image*/



/*end of index page*/

  /* Start of about page*/


  /* conatiner and wrapper for main info on about page*/



 

  .about-body{

    overflow-x: hidden;


  }
  .aboutContainer{
display: flex;

flex-direction: column;


overflow-x: hidden;
  }
  


  .aboutWrap1 , .aboutWrap2 ,.aboutWrap3{

    margin: 50px;
  padding: 100px;
    width: 50%vw;
    display: block;

    animation: box 3s infinite;
    animation-delay: .8s;
   
    
    
  
    border: #000 solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);
    text-align: center;

  }

  .aboutWrap1:hover , .aboutWrap2:hover ,.aboutWrap3:hover{


    animation-play-state: paused;

  }



  @keyframes box {
from{ border: #000 solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.342);}

  50%{  border: #00ff4c solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);}

  to{ border: #ff0000 solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);}    
      
  }




  .about-pic{


    height: 100%;
    width: 20em;
 border-radius: 5%;
 margin: 10px;

  }

  .aboutWrap1{




  }


  .ABR-wrapper{

display: flex;
height: 300px;
gap: 30px;
flex-flow:  wrap;

justify-content: space-around;
padding: 0;
  margin: 0;
  list-style: none;

  }



  .ABR1 , .ABR2 , .ABR3 , .ABR4 , .ABR5 , .ABR6{

  width:50px;
  height: 50px;

  display: block;
  background-color: rgb(0, 0, 0);
  }


   .ABR1 , .ABR2 {



  }

  .ABR3 , .ABR4{




  }


  .ABR5 , .ABR6{




  }

  /* Start of contact page*/

    /* END of contact page*/

 /* START of portfolio page*/

 





 .project-p{
text-align: center;
font-size: 3vh;
margin: 50px 0 30px 0;

 }
 .project-wrapper{
margin: auto;

padding: 10px;
 display: grid;
 grid-template-columns: auto auto;
  gap: 25px;
 }

 .SWE-wrapper{
  padding: 25px;
  background-color: #5f3e3e;
  gap: 25px;
display: grid;
grid-template-columns: auto auto;


}

 .Graphic-wrapper{
  padding:25px;
background-color: #443e3e;

gap: 25px;
display: grid;
grid-template-columns: auto auto;
}

.port-img{
  height:100%;
  width: 30vh;
  margin: auto;
}

.port-img:hover{
  width: 32vh;
transition: all .5s ease-in;
}







@media  screen and (max-width: 1200px) {
 
  .project-wrapper{
   
    display: flex;
    flex-direction: column;
  
  
  }
    .port-img{
  width: 35vw; 
  margin: auto;
    }
    .port-img:hover{
      width: 37vw; 
        }
  
   
   
    
    }
  
  @media  screen and (max-width: 786px) {
 
      .port-img{
    width: 100%; 
    margin: auto;
      }
      .port-img:hover{
        width: 100%; 
          }

          .SWE-wrapper{padding: 50px;
            background-color: #5f3e3e;
            display: flex;
            flex-direction: column;
         
         
         
          }
          
           .Graphic-wrapper{padding:50px;
          background-color: #443e3e;
          display: flex;
          flex-direction: column;
         
          
          }
    
    }






     /* END of portfolio page*/
  