/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/*
start of Nav
*/
.NavLogo{

  width: 100%;
  
  height: 100px;
    }
  /*
End of nav
  */

body{
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #b4b4b479;
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000007c;
  border-radius: 10px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b60000;
}




/*start of index page
*/
.index-body{
  margin-top: 5vw;

}
.main-wrapper{}

.top-wrapper{
  font-weight: bold;
 
}

.index-h1{ 
  font-size: 4vh;
}

.index-h2{
  font-size: 4vh;
}

.typeWriter{
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-size: 2vh;
}

.hero-wrapper{
  margin: 2.5vw;
 
}
.hero-p{

  font-size: 2vh;
}

/* start of hero image*/

.hero-img{
  height:  100%;
  width: 30vh;
  margin-bottom: 1vh;
  }
  /* end of hero image*/



/*end of index page*/

  /* Start of about page*/


  /* conatiner and wrapper for main info on about page*/



 

  .about-body{

    overflow-x: hidden;


  }
  .aboutContainer{
display: flex;

flex-direction: column;


overflow-x: hidden;
  }
  


  .aboutWrap1 , .aboutWrap2 ,.aboutWrap3{

    margin: 50px;
  padding: 100px;
    width: 50%vw;
    display: block;

    animation: box 3s infinite;
    animation-delay: .8s;
   
    
    
  
    border: #000 solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);
    text-align: center;

  }

  .aboutWrap1:hover , .aboutWrap2:hover ,.aboutWrap3:hover{


    animation-play-state: paused;

  }



  @keyframes box {
from{ border: #000 solid;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.342);}

  50%{  border: #00ff4c solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);}

  to{ border: #ff0000 solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.342);}    
      
  }




  .about-pic{


    height: 100%;
    width: 20em;
 border-radius: 5%;
 margin: 10px;

  }

  .aboutWrap1{




  }


  .ABR-wrapper{

display: flex;
height: 300px;
gap: 30px;
flex-flow:  wrap;

justify-content: space-around;
padding: 0;
  margin: 0;
  list-style: none;

  }



  .ABR1 , .ABR2 , .ABR3 , .ABR4 , .ABR5 , .ABR6{

  width:50px;
  height: 50px;

  display: block;
  background-color: rgb(0, 0, 0);
  }


   .ABR1 , .ABR2 {



  }

  .ABR3 , .ABR4{




  }


  .ABR5 , .ABR6{




  }